[Desktop Entry]
Name=Content Hub Peer Picker
Comment=Content Hub Peer Picker
Exec=content-hub-peer-picker %U
Icon=
Terminal=false
Type=Application
OnlyShowIn=Old
X-Ubuntu-Touch=true
