Source: content-hub
Priority: extra
Maintainer: Ken VanDine <ken.vandine@canonical.com>
Build-Depends: cmake,
               debhelper (>= 9),
               dbus-test-runner,
               doxygen,
               google-mock,
               lcov,
               qt5-default,
               qtbase5-dev,
               qtdeclarative5-dev,
               qtdeclarative5-qtquick2-plugin,
               qtdeclarative5-test-plugin,
Standards-Version: 3.9.4
Section: libs
Homepage: https://launchpad.net/content-hub

Package: content-hub
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libcontent-hub-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         libcontent-hub0 (= ${binary:Version}),
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: libcontent-hub0
Section: libs
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: qtdeclarative5-content-hub-plugin
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcontent-hub0,
         qtdeclarative5-qtquick2-plugin,
Description: QML binding for libcontent-hub
 QML bindings for libcontent-hub

Package: libcontent-hub-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
