#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

%:
	dh $@ --with click,translations --fail-missing -- -B build

override_dh_auto_test:
	dbus-test-runner -t make -p "-C" -p "build/tests/acceptance-tests" -p test
	
override_dh_translations:
	make -C po content-hub.pot; cp po/content-hub.pot ../po
