#!/usr/bin/make -f
# -*- makefile -*-

export DPKG_GENSYMBOLS_CHECK_LEVEL=4
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS) $(CPPFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS) $(CPPFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@ --with click,translations --fail-missing -- -B build

override_dh_auto_install:
	dh_auto_install
	dh_apparmor -pcontent-hub --profile-name=content-hub-peer-picker
	dh_apparmor -pcontent-hub-testability --profile-name=content-hub-testability
	dh_apparmor -pcontent-hub --profile-name=content-hub-trust-prompt

override_dh_auto_test:
# FIXME
#ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
#	dbus-test-runner -t make -p "-C" -p "build/tests/acceptance-tests" -p test
#endif
	
override_dh_translations:
	make -C po content-hub.pot
